@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  src: url('../../public/assets/fonts/GmarketSansLight.otf') format('otf'),
    url('../../public/assets/fonts/GmarketSansTTFLight.ttf') format('truetype');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 400;
  src: url('../../public/assets/fonts/GmarketSansMedium.otf') format('otf'),
    url('../../public/assets/fonts/GmarketSansTTFMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  src: url('../../public/assets/fonts/GmarketSansBold.otf') format('otf'),
    url('../../public/assets/fonts/GmarketSansTTFBold.ttf') format('truetype');
}

body {
  font-family: 'GmarketSans';
}

:root {
  /* Main colors */
  --Main-Red: rgb(242, 56, 56); /* Main Red */
  --Main-Yellow: rgb(242, 202, 80); /* Main Yellow */
  --Main-Light-Green: rgb(80, 191, 97); /* Main Light Green */
  --Main-Green: rgb(55, 140, 76); /* Main Green */
  --Main-Navy: rgb(29, 50, 64); /* Main Navy */
  --Main-Brown: rgb(102, 50, 28); /* Main Brown */

  /* Theme colors */
  --Theme-Korea: rgb(64, 25, 20); /* Korea Theme */
  --Theme-Egypt: rgb(220, 138, 29); /* Egypt Theme */
  --Theme-Greece: rgb(83, 192, 251); /* Greece Theme */
  --Theme-Landmark: rgb(92, 58, 120); /* Landmark Theme */
}
