.opacity {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}
.opacity:hover {
  opacity: 1;
}

.chat {
  position: fixed;
  bottom: 4vh;
  left: 2vw;
  height: 360px;
  width: 320px;
  z-index: 2;
  transition: transform 0.3s ease, height 0.3s ease;
}

.chatPin {
  position: absolute;
  top: 0;
  right: 0;
  font-size: larger;
  padding: 6px;
}

.map {
  position: fixed;
  bottom: 4vh;
  right: 2vw;
  height: 240px;
  width: 320px;
  transition: all 0.3s ease;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.map:hover {
  height: 360px;
  width: 480px;
}

.hints {
  position: fixed;
  top: 4vh;
  right: 2vw;
  z-index: 2;
}

.infos {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.timer {
  position: fixed;
  top: 12vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.streetView {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: beige;
  z-index: var(--z-down);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 700;
}
