.ready {
  height: 60%;
  color: var(--Main-Navy);
  font-weight: bold;
  font-size: 3.5rem;
  font-family: 'GmarketSans';
  border-radius: 8px;
  background-color: var(--Main-Yellow);
  padding-top: 6%;
}

.ready-complete {
  height: 60%;
  color: var(--Main-Yellow);
  font-weight: bold;
  font-size: 3.5rem;
  font-family: 'GmarketSans';
  border-radius: 8px;
  background-color: var(--Main-Green);
  padding-top: 6%;
}
