.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../../../public/assets/images/BackgroundImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.container {
  width: 95%;
  height: 90%;
  margin: auto;
  display: flex;
}

.option-team-container {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-ready-out {
  margin-left: 2%;
  width: 24%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 위에 마진 조절 */
.chat {
  height: 57.5%;
  margin-top: 25.5%;
  border-radius: 8px;
  background-color: var(--Main-Navy);
  padding: 2% 6%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  color: var(--Main-Yellow);
  border-color: var(--Main-Yellow);
}

.ready-out {
  height: 25%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
}

.out {
  height: 40%;
  margin-top: 4%;
  color: var(--Main-Yellow);
  background-color: var(--Main-Red);
  font-weight: bold;
  font-size: 2rem;
  font-family: 'GmarketSans';
  border-radius: 8px;
  padding-top: 3%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.out:hover {
  transform: scale(1.01);
}
