.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../../../public/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.container {
  width: 95%;
  height: 90%;
  margin: auto;
  display: flex;
}

.option-team-container {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-ready-out {
  margin-left: 2%;
  width: 24%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 위에 마진 조절 */
.chat {
  height: 64%;
  margin-top: 24.5%;
  border-radius: 8px;
  background-color: var(--Main-Navy);
  padding: 10% 8%;
}

.ready-out {
  height: 32%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
}

.ready {
  height: 60%;
  color: var(--Main-Navy);
  font-weight: bold;
  font-size: 3.5rem;
  font-family: 'GmarketSans';
  border-radius: 8px;
  background-color: var(--Main-Yellow);
  padding-top: 6%;
}

.out {
  height: 40%;
  margin-top: 4%;
  color: var(--Main-Yellow);
  background-color: var(--Main-Red);
  font-weight: bold;
  font-size: 2rem;
  font-family: 'GmarketSans';
  border-radius: 8px;
  padding-top: 3%;
}
