.ruleWrapper {
  width: 900px;
  height: 500px;
  padding: 25px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  color: var(--Main-Yellow);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}